:root {
    --white: #FFFFFF;
}
* {
    color: var(--white);
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
