:root {
    --white: #FFFFFF;
}
* {
    color: var(--white);
    font-family: HelveticaNeue;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;

}

html, body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    border: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
